<h1>Editing transfer</h1>

<%= render "form", wallets_transfer: @wallets_transfer %>

<br>

<div>
  <%= link_to "Show this transfer", @wallets_transfer %> |
  <%= link_to "Back to transfers", wallets_transfers_path %>
</div>
